<main fxLayout='row' fxLayoutAlign="center none">
  <div fxFlex="80%">
    <div fxLayout='column'>
      <app-hangman fxFlex fxFlexAlign="center">...</app-hangman>
      <app-status fxFlex fxFlexAlign="center">...</app-status>
      <app-keyboard fxFlex fxFlexAlign="center">...</app-keyboard>
    </div>
  </div>
  <div fxFlex="20%">
    <div fxLayout='column' fxFlexFill>
      <div fxFlex="35%"></div>
      <app-wins fxFlex="30%">...</app-wins>
      <app-control fxFlex="35%">...</app-control>
    </div>
  </div>
</main>
