<div mdl class="mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="mdl-grid mdl-grid--no-spacing">
      <app-hangman class="mdl-cell mdl-cell--10-col mdl-cell--8-col-desktop"></app-hangman>
    </div>
    <div class="mdl-grid mdl-grid--no-spacing">
      <app-status class="mdl-cell mdl-cell--12-col"></app-status>
    </div>
    <div class="mdl-grid mdl-grid--no-spacing">
      <app-keyboard class="mdl-cell mdl-cell--10-col mdl-cell--8-col-desktop"></app-keyboard>
      <app-control class="mdl-cell mdl-cell--2-col mdl-cell--4-col-desktop"></app-control>
    </div>
  </main>
</div>
